@font-face {
    font-family: "Nunito Sans";
    font-weight: 300;
    src:
        local("Nunito Sans"),
        url("./fonts/NunitoSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 400;
    src:
        local("Nunito Sans"),
        url("./fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 500;
    src:
        local("Nunito Sans"),
        url("./fonts/NunitoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 600;
    src:
        local("Nunito Sans"),
        url("./fonts/NunitoSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 700;
    src:
        local("Nunito Sans"),
        url("./fonts/NunitoSans-Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tw-shadow-color: rgba(0, 0, 0, 0.6);
    }

    html {
        font-size: 16px;
    }

    body {
        font-family: "Nunito Sans", sans-serif;
    }
}

.font-david-libre {
  font-family: 'David Libre', serif;
}

.custom-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.font-nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.custom-subheading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.74px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.profile-container {
    @apply max-w-lg mx-auto p-8 bg-white rounded-lg shadow-md my-12;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    @apply flex-1 ml-4;
  }
  
  .error-message {
    @apply text-red-500 text-lg font-medium;
  }

  .profile-header {
    @apply flex items-center justify-between mb-4;
  }

  .profile-picture {
    @apply w-24 h-24 rounded-full object-cover;
    border: 2px solid #007bff;
  }

  .profile-name {
    @apply text-2xl font-bold text-blue-800;
  }

  .profile-email {
    @apply text-lg font-medium text-gray-600;
  }

  .profile-course {
    @apply text-lg font-medium text-gray-600 mt-2;
  }

  .profile-desc {
    @apply text-lg font-medium text-gray-600 mt-2;
  }

  .profile-subs {
    @apply text-lg font-medium text-gray-600 mt-2;
  }
  
  .edit-profile-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg;
  }